
/* Assets & Variables */
$search-icon:"#{$site-base-url}/static/assets/searchbar/search_button.png";
$search-text-entered-icon:"#{$site-base-url}/static/assets/searchbar/search_button_autosuggestions.png";
$search-icon-size: 32px;

$clear-search-icon:"#{$site-base-url}/static/assets/searchbar/clear_search.png";
$clear-search-icon-size: 16px;

$spinner-icon:"#{$site-base-url}/static/assets/searchbar/spinner.png";
$spinner-icon-size: 16px;

$toggle-menu-button-icon:"#{$site-base-url}/static/assets/searchbar/menu_button.png";
$toggle-menu-button-icon-size: 32px;

$searchbar-button-size: 32px;

$margin: 10px;
$searchbar-width: 366px;
$searchbar-height: 44px;
$searchbar-padding: 6px;
$searchbar-text-field-width: $searchbar-width - 2 * $searchbar-button-size - 4 * $searchbar-padding;
$searchbar-font-size: 11pt;

/* Searchbar */

.searchbar-container {
    left: $margin; top: $margin;
	width: $searchbar-width; height: $searchbar-height;

    .disabled-overlay {
        height: 100%;
    }

    .searchbar.has-input {
        .text-field-container {
			border-color: $blue-color;
        }

		.search-button {
			background-image: url($search-text-entered-icon);
		}
    }

	.searchbar {
		background: #fff;
		border: 0;
        box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
		padding: $searchbar-padding $searchbar-padding;
		position: relative;
		width: 100%; height: 100%;

		.text-field-container {
			background: #fff;
			border: 1px solid $grey-color;
			display: block;
			float: left;
			margin: 0 $searchbar-padding;
			outline: none;
			padding: 0 8px;
			position: relative;
			width: $searchbar-text-field-width; height: 100%;

			.text-field {
				border: 0;
				color: $primary-text-color;
				display: block;
				float: left;
				font-size: $searchbar-font-size;
				font-weight: normal;
				margin: 0;
				outline: none;
				width: 100%;
				height: 100%;
			}

			.text-field::-ms-clear {
				display: none;
			}

			.clear-icon, .spinner-icon {
				border: none;
				display: block;
				margin: auto;
				opacity: 1;
				outline: 0;
				position: absolute;
				right: 4px; top: 0; bottom: 0;
				transition: opacity 0.25s;
			}

			.clear-icon {
				background: transparent url($clear-search-icon) center / $clear-search-icon-size no-repeat;
				cursor: pointer;
				width: $clear-search-icon-size; height: $clear-search-icon-size;
				
				&.fade {
					opacity: 0;
				}
			}

			.spinner-icon {
				animation: spin 0.75s linear;
				animation-iteration-count: infinite;
				background: transparent url($spinner-icon) center / $spinner-icon-size no-repeat;
				transform-origin : center;
				width: $spinner-icon-size; height: $spinner-icon-size;

				&.fade {
					animation-name: none;
					opacity: 0;
				}
			}

			@keyframes spin {
				0% { transform: rotate(0deg) }
				100% { transform: rotate(360deg) }
			}
		}

		.toggle-menu-button, .search-button {
			border: 0;
			float: left;
			outline: none;
            padding: 0;
			width: $searchbar-button-size; height: $searchbar-button-size;

			&:hover {
				background-color: $button-hover-color;
			}
		}

		.toggle-menu-button {
			background: #fff url($toggle-menu-button-icon) center / $toggle-menu-button-icon-size no-repeat;
		}

		.search-button {
			background: #fff url($search-icon) center / $search-icon-size no-repeat;
		}
	}
}

/* Search Options */

$search-option-group-header-height: 36px;
$search-option-group-header-font-size: 11pt;
$search-option-row-height: 36px;
$search-option-row-with-subtitle-height: 58px;
$search-option-row-title-font-size: 11pt;
$search-option-row-subtitle-font-size: 10pt;

$icon-width: 44px;
$icon-asset-size: 30px;

#options-container {
    background: #fff;
    border: none;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5);
    margin-top: 4px;
    position: relative;
    width: 100%;

    .header {
        color: $blue-color;
        font-size: $search-option-group-header-font-size;
        font-weight: normal;
        padding: 12px 0 0 $icon-width;
        height: $search-option-group-header-height;
    }

    .option-row {
        border: none;
        width: 100%; height: $search-option-row-height;
        border-bottom: 1px solid #efefef;

        &:hover {
            background: $button-hover-color;
            cursor: pointer;
        }

        .icon {
            background-position: center;
            background-repeat: no-repeat;
            background-size: $icon-asset-size;
            float: left;
            width: $icon-width; height: 100%;
        }

        .text {
            color: $primary-text-color;
            height: 100%;
            margin-right: 8px;
            text-align: left;
            white-space: nowrap;

            .title {
                font-size: $search-option-row-title-font-size;
                font-weight: normal;
                height: 100%;
                overflow: hidden;
                padding-top: 8px;
                text-overflow: ellipsis;
            }
        }
    }

    .option-row.with-subtitle {
        height: $search-option-row-with-subtitle-height;

        .text {
            .title {
                height: 50%;
            }

            .subtitle {
                font-size: $search-option-row-subtitle-font-size;
                font-weight: lighter;
                height: 50%;
                overflow: hidden;
                padding-bottom: 0px;
                text-overflow: ellipsis;
            }
        }
    }
}

/* Menu */

$menu-width: 250px;
$menu-header-font-size: 15pt;
$menu-option-group-tite-font-size: 13pt;
$menu-option-font-size: 11pt;
$menu-option-title-height: 30px;
$menu-option-row-height: 36px;

$menu-option-group-expand-collapse-button-icon:"#{$site-base-url}/static/assets/searchbar/menu_option_group_expand_collapse.png";
$menu-option-group-expand-collapse-button-icon-size: 30px;

.menu-container {
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5);
    left: 0; top: 0;
    position: absolute;
	width: $menu-width;

    .header-container {
        height: $searchbar-button-size;
        margin: $searchbar-padding;

        .toggle-menu-button {
            background: #fff url($toggle-menu-button-icon) center / $toggle-menu-button-icon-size no-repeat;
			border: 0;
			float: left;
			outline: none;
            padding: 0;
			width: $searchbar-button-size; height: $searchbar-button-size;

			&:hover {
				background-color: $button-hover-color;
                cursor: pointer;
			}
		}

        .header-text {
            font-size: $menu-header-font-size;
            font-weight: normal;
            padding: 2px 0 0 $searchbar-button-size + $searchbar-padding;
        }
    }

    hr {
        border-style: inset;
        border-width: 1px;
        margin: 8px 7px 4px 7px;
    }

    .menu-body-container {

        .menu-option-group {

            .title-container {
                height: $menu-option-title-height;
                margin: 0 8px 2px 8px;

                &:hover {
                    cursor: pointer;
                }

                .title-text {
                    font-size: $menu-option-group-tite-font-size;
                    font-weight: normal;
                    height: 100%;
                    padding: 2px 0 0 8px;
                }

                .toggle-button {
                    background: transparent url($menu-option-group-expand-collapse-button-icon) center no-repeat;
                    border: 0;
                    float: right;
                    outline: none;
                    padding: 0;
                    transition: transform 0.35s;
                    width: $menu-option-group-expand-collapse-button-icon-size; height: $menu-option-group-expand-collapse-button-icon-size;
                }

                .toggle-button.expanded {
                    transform: rotateZ(-90deg);
                }
            }

            .option-list-container {

                .option-row {
                    background: #f5f5f5;
                    height: $menu-option-row-height;
                    margin: 0 8px 2px 8px;
                    overflow: hidden;
                    position: relative;

                    &:hover {
                        background: $button-hover-color;
                        cursor: pointer;
                    }

                    .icon {
                        bottom: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: $icon-asset-size;
                        position: absolute;
                        width: $icon-width; height: $menu-option-row-height;
                    }

                    .text {
                        bottom: 0;
                        color: $primary-text-color;
                        font-size: $menu-option-font-size;
                        font-weight: normal;
                        height: $menu-option-row-height;
                        margin-right: 8px;
                        overflow: hidden;
                        padding-left: $icon-width; padding-top: 8px;
                        position: absolute;
                        text-align: left;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .option-row.row-expand {
                    animation: row-expand 0.35s ease-out;
                }

                .option-row.row-collapse {
                    animation: row-collapse 0.35s ease-out;
                }
            }
        }
    }
}

@keyframes row-expand {
    0% {height: 0}
    100% {height: $menu-option-row-height}
}

@keyframes row-collapse {
    0% {height: $menu-option-row-height}
    100% {height: 0}
}

.disabled-overlay {
    opacity: 0.25;
    background-color: #202020;
    position: absolute; left: 0px; top: 0px;
    width: 100%;
}